body{
	font-family:Verdana, Geneva, sans-serif;
	background-color:white;
	color:#3f3f3f;
	font-size:14px;
	line-height:28px;
}

h1{
	font-size:52px;
	letter-spacing:4px;
	margin-bottom:20px;
}
h3{
	font-size:16px;
	color:#C0A887;
	font-weight:bold;
}
.sectionheader{
	background:#C0A887;
	border-bottom:6px solid #000;
	height:60px;
	color:#fff;
	display:inline-block;
	line-height:60px;
	font-size:24px;
	padding:5px 40px;
	letter-spacing:2px;
	margin-bottom:20px;
}

.sectionarea{
	padding:80x 0px;
}
/*grid settings*/
.container{
	width:90%;
	margin:0 auto;
	display:flex;
}

.container2{
	width:90%;
	margin:0 auto;
	margin-top:50px;
	display:flex;
}

.featuresbody .container{
	justify-content:space-beyween;
}

.col3{
	flex-grow:1;
	width:33.33%;
}

.enginebody .container{
	justify-content:space-beyween;
}
 col2{
	 flex-grow:1;
	 width:50%;
	 padding:20px;
 }
 

/*home setting*/
 
header .logo img{
	display:inline;
	width:80%;
}

.menu li{
	float:left;list-style-type:none;
}

.menu li a{
	padding:23px 15px;
	display:block;
	text-decoration:none;
	letter-spacing:1px;
	color:#333;
	transition:all .5s ease; 
	
}


.menu li:hover a{
	background-color:#C0A887;
	color:white;
}

#mainslider{
	height:500px;
	margin-top:15px;
	background-size:auto;
	background:url(../img/gif1.gif) center center;}

.slider{width:100%;}

#mainCaption{
	height:500px;
	color:white;
	background:rgba (0,0,0, .5);
}
.caption
{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:100%;
	color:#fff;
}

.featurestop{
	text-align:center;
}
.item{padding:10px 20px;}

.zoom{
	position:relative;
	overflow:hidden;
	display:inline-block;
	width:100%;
	vertical-align:top;
}
.zoom img{
	display:block;
	width:100%;
	height:320px;
	transition:all .5s ease;
}

.item .itemtext{
	text-align:center;
	padding:5px;
	border:1px solid #C0A887;
}

.item:hover .zoom img{
	transform:scale(1.10);
}

.item:hover h3{
	color:white;
}

.item:hover .itemtext{
	background:#C0A887;
	color:white;
	transition:all .5s ease;
}

.btndetails{
	color:#C0A887;
	padding:5px, 10px;
	text-decoration:none;
	border:1px solid #C0A887;
	transition:all .5s ease;
}

.item:hover .btndetails{
	color:white;
	border:1px solid white;
}

.item p{
	margin:20px 0;
}

#parallax{
	background:url(../img/parallax.jpg);
	height200px;
	background-attachment:fixed;
	background-size:cover;
	background-position:center;
	text-align:center;
}

#parallax p{
	color:white;
}

.enginetop{
	text-align:center;
}

.enginecontainer{
	position:relative;
	width:100%;
	
}

.imageover{
	display:block; 
	width:100%; 
	height:auto;
}

.engineoverlay{
	position:absolute;
	bottom:0;
	left:0;
	overflow:hidden;
	right:0;
	background-color:rgba(255, 204, 153, .7);
	width:0;
	transition:.5s ease;
	height:100%;
}

.enginecontainer:hover .engineoverlay{
	width:100%;
}

.enginetext{
	white-space:nowrap;
	color:white;
	font-size:20px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.engineoverlay2{
	position:absolute;
	bottom:0;
	left:100%;
	right:0;	
	background-color:rgba(255, 204, 153, .7);
	overflow:hidden;
	width:0;
	height:100%;
	transition:.5s ease;
}


.enginecontainer:hover .engineoverlay2{
	width:100%;
	left:0;
}


footer{
	background:#C0A887;
	text-align:center;
}

.footeritem{
	padding:20px;
}

.footeritem img{
	width:50%;
	opacity:5;
}

footer h3{
	color:white;
	font-size:18px;
	letter-spacing:2px;
	margin-bottom:10px;
}

footer p{
	line-height:20px;
	color:white;
}

.footerlinks li{
	list-style-type:none;
}
.footerlinks a{
	text-decoration:none;
	color:#fff;
	list-style-type:none;
	transition: .3s ease;
}

.footerlinks a:hover{
	color:#95a5a6;
	text-decoration:underline;
}

/*coffee settings*/

#inspect {
	background-color:#f5f5f5;
}

.inspecttop{
	text-align:center;
}

.inspectbody .col2{
	display:flex;
}
.inspectimage{
	width:50%;
	height:auto;
}

.inspectimage img{
	width:100%;
}

.inspecttext{
	width:60%;
	padding-left:15px;
}

h4{
	color:#C0A887;
	font-size:14px;
	font-weight:bold;
}

.inspecttext a{
	float:right;
	text-decoration:none;
	color:#C0A887;
}

.inspecttext a:hover{
	text-decoration:underline;
}

.captionpx {
	display:flex;
	background:rgba(0,0,0, .8);
	width:100%;
	height:500px;
}


.containerfluid .col2{
	padding:0;
}

/*ABOUT*/

#aboutslider{
	height:250px;
	margin-top:5%;
	background-size:cover;
	background:url(../img/foto3.jpg) center center no-repeat;}

#aboutCaption{
	height:200px;
	color:black;
	background:rgba (0,0,0, .7);
}



#abouthistory{
	background:#f5f5f5;
}

.abouthistorytop{
	text-align:center;
}

.abouthistorybody .containerfluid{
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
}

.ourhistorybody .col2{display:flex;}

.ourhistorydate{
	flex:1; 
	text-align:center; 
	height:40px;
	line-height:40px;
	background-color:#C0A887; 
	color:white;
}

.ourhistorydate p {
	font-size:30px;
	letter-spacing:2px;
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.ourhistoryimage{
	flex:2;
}

.ourhistoryimage img{
	width:500px;
	margin-bottom:20px;
	height:320px;
}

.ourhistorytext{
	flex:3;
}

.ourhistorytext p {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}


.teamtop{text-align:center;}

.teambody .containerfluid{
	display:flex;
	width:100%;
}

.teammember{
	position:relative;
	width:100%;
}

.teammember img{
	width:500px;
	height:320px;
}

.teammemberoverlay{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	opacity:1;
	background-color:#C0A887; 
	transition: .5s ease;
}

.teammember:hover .teammemberoverlay{
	opacity:0;
}
 
 
 .teammember:hover .teammemberinfo{
	 color:white;
	 font-size:20px;
	 position:absolute;
	 top:50%;
	 left:50%;
	 transform:translate(-50%,-50%);
 }
 
 .teammembertitle{
	 color:white;
	 font-size:20px;
	 position:absolute;
	 top:50%;
	 left:50%;
	 transform:translate(-50%,-50%);
 }
 
.teammemberinfo{
	color:white;
	background-color:rgba(255, 204, 153, .7);
	 position:absolute;
	 top:50%;
	 transition: .5s ease;
	 padding:20px;
	 text-align:center;
	 left:50%;
	 transform:translateY(50%);
}

/*contact*/

#contentslider{
	height:250px;
	margin-top:5%;
	background-size:cover;
	background:url(../img/foto3.jpg) center center no-repeat;}

#contentcaption{
	height:200px;
	color:black;
	background:rgba (0,0,0, .7);
}

.iletisim a{
	display:block;
	text-decoration:none;
	color:#333;
 }
 .iletisim a:hover{text-decoration:underline;}
 
#gallery{background-color:#f5f5f5;}

.gallerytop{
	text-align:center;
}

.galleryslider{
	overflow:hidden;
	width:100%;
	margin:0 auto;
}

.galleryslideritem{
	width:300%;
	position:relative;
	left:0;
	animation:slideanimation 30s infinite;
}

.galleryslideritem img{
	width:33.33%;
	float:left;
	height:auto;
}

@keyframes slideanimation{
	0% {left:0;}
	25% {left:-100%;}
	100% {left:0;}
}

.iletisimtop{
	text-align:center;
}

.wrapper{
	margin:0 auto;
	width:100%;
}

.contactform{
	margin:0 auto;
	width:60%;
}

.formitem{
	margin-bottom:10px;
	width:100%;
}

.formfield{
	color:white;
	background-color:#C0A887;
	border:none;
	padding:15.5px;
	width:92%;
	display:block;
	font-size:14px;
}

.formbtn{
	display:block;
	border:none;
	color:white;
	background-color:#C0A887;
	padding:12px 25px;
	cursor:pointer;
	text-decoration:none;
}

.formbtn:hover{
	background-color:#841916;
}

